input:required {
  border-color: blue;
}
select:required {
  border-color: blue;
}

input:user-valid {
  border-color: green;
}

input:user-invalid {
  border-color: red;
}

select:user-invalid {
  border-color: red;
}

select:user-valid {
  border-color: green;
}

.required {
  color: blue;
}
